@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


body { overflow-x: hidden !important; } 
h1 {font-size: 70px; line-height: 80px; font-weight: 800; font-family: "Urbanist", sans-serif; color: #fff; text-transform: uppercase;} 
h2 { color: #fff; font-size: 50px; font-weight: 800;line-height: 60px; text-transform: uppercase; font-family: "Urbanist", sans-serif;} 
h3 { font-size: 36px; font-weight: 600; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: white; } 
h4 { font-size: 25px; font-weight: normal; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: #333; } 
h5 { font-size: 16px; font-weight: normal; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: #333; } 
h6 { font-size: 14px; font-weight: 600; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: white; } 
p { font-size: 16px; font-weight: 400; line-height:24px; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: white; } 
span { font-size: 14px; font-weight: normal; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: white; } 
li { font-size: 14px; font-weight: normal; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: #333; } 
a { font-size: 1.2vw; font-weight: normal; line-height: normal; font-style: normal; font-variant: normal; font-family: "Urbanist", sans-serif; color: #333; text-decoration: none; transition: all 0.3s ease 0s; cursor: pointer; }

/* Loader CSS */
.global-loader {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.801); display: flex; align-items: center; justify-content: center; z-index: 9999;}
.ball-loader {display: flex; gap: 20px;}
.ball-loader span {width: 20px; height: 20px; background: #fff; border-radius: 50%; animation: bounce 1.2s infinite ease-in-out;}
.ball-loader span:nth-child(1) {animation-delay: 0s;}
.ball-loader span:nth-child(2) {animation-delay: 0.2s;}
.ball-loader span:nth-child(3) {animation-delay: 0.4s;}
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
    opacity: 0.3;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Sweet Loader */
.swal2-title {color:#000 !important; text-transform: uppercase !important; font-size:32px !important; padding-top: 10px !important;}
.swal2-html-container{padding-top: 0px !important;}
.swal2-confirm{padding: 13px 60px; background: #000000; color: white; border-radius: 50px; font-weight: 600; font-size: 16px; transition: .5s; border: solid 2px black;}
.swal2-confirm:hover {background: white; color: black; border: 2px solid #000; transform: none !important;}

/* Header */
header{position: absolute; width: 100%; z-index: 999;}

header .topbar {background-color: #00000066; padding: 10px 0px;}
header .topbar-contact {display: flex; gap: 20px; align-items: center;}
header span a {font-size: 14px; color: #fff;}
header .separator {color: #fff;}
header .topbar-social {gap: 0.5rem;}
header .topbar-social a {display: flex; justify-content: center; align-items: center; width: 28px; height: 28px; border-radius: 50%; background: #fff; transition: .5s;}
header .topbar-social a svg{color:#000; transition: .5s;}
header .topbar-social a:hover {background-color: black;}
header .topbar-social a:hover svg{color: #fff !important;}

header .navbar {padding-top: 1rem; padding-bottom: 1rem; background-color: #ffffff;}
header .navbar .container{display: block;}
header .navbar-menu {display: flex; justify-content: center;}
header .menu-list {display: flex; list-style: none; padding: 0; margin: 0; gap: 40px;}
header .menu-link {color: #000; font-weight: 400; font-size: 16px; transition: .5s; position: relative; padding-bottom: 8px;}
header .menu-link::after {content: ""; position: absolute; left: 0; bottom: 0; height: 3px; width: 100%; background-color: #000000; transform: scaleX(0); transform-origin: left; transition: transform 0.3s ease-out;}
header .menu-link:hover::after {transform: scaleX(1);}
header .menu-link:hover {color: #000000;}
header .menu-link.active::after {transform: scaleX(1);}
header .menu-link.active {color: #000000;}
header .navbar-actions {display: flex; align-items: center; gap: 1rem; justify-content: flex-end;}
header .navbar-actions button {display: flex; justify-content: center; border:none; align-items: center; width: 50px; height: 50px; background: #f0f0f0; border-radius: 50%; transition: .5s; color:#000;}
header .navbar-actions button:hover {background: #000; color: #fff !important;}
header .designBtn {padding: 13px 40px; background: #000000; color: white; border-radius: 50px; font-weight: 600; font-size: 16px; transition: .5s; border: solid 2px black;}
header .designBtn:hover {background: white; color: black; border: 2px solid #000; transform: none !important;}

/* Search Modal */
.search-modal{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 83%); backdrop-filter: blur(10px); display: flex; align-items: center; justify-content: center; z-index: 9999;}
.search-modal-content{width: 550px; background: #fff;border-radius: 20px; position: relative; padding: 60px 30px 30px 20px; gap: 20px; animation: fadeIn 0.35s ease; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.search-modal .close-modal{position: absolute; top: 12px; transition: .5s; right: 14px; background: #000; color: #fff; width: 40px; height: 40px; border-radius: 50%; font-size: 16px; font-weight: 900; cursor: pointer; border: 2px solid #000;}
.close-modal:hover{background: transparent; color: #000;}
.search-modal h2{color: #000;}
.search-modal input{padding: 13px 20px; border: none; border-radius: 30px; background-color: #ffffff; color: #000; border: 2px solid #000; font-size: 16px; outline: none; font-family: "Urbanist", sans-serif; width: 80%;}
.search-modal input::placeholder{color: #000;}
.search-modal .designBtn{width: 80%;}

/* Footer */
.site-footer {background-image: url(/public/Images/footer-background.png); background-size: cover; background-repeat: no-repeat; padding-top: 70px; padding-bottom: 30px; margin-top:90px;}
.f-newsletter {padding-bottom: 40px;border-bottom: 1px solid #FFFFFF4D; margin-bottom:40px;}
.f-newsletter h3 {color: white; margin-bottom: 10px; text-transform: uppercase; font-weight: 800; font-size: 32px;}
.f-newsletter p, footer a {color: #fff; font-size: 16px; margin: 0;}
.f-newsletter input {padding: 13px 20px; border: none;border-radius: 30px; background-color: #ffffff; color: #000; font-size: 16px; outline:none; font-family: "Urbanist", sans-serif;}
.f-newsletter input::placeholder{color: #000 !important; font-size: 16px !important; font-weight: 400;}
.f-newsletter button {padding: 10px 15px; background-color: #ffffff; color: #000000; font-weight: 600; border: none; border-radius: 30px; cursor: pointer; transition: .5s; border: solid 2px white;}
.f-newsletter button:hover {background-color: black; color: white; border: solid 2px white;}  
.footer-main-content h4{color: #fff; font-size: 18px; font-weight: 600; margin-bottom: 30px !important; margin-top: 20px;}
.footer-main-content .f-logo p{margin-top: 20px; padding-right: 70px;}
.footer-main-content .f-social { display: flex; gap: 10px;}
.footer-main-content .f-social a{ width: 35px; height: 35px; border-radius: 50%;background-color: #FFFFFF4D; display: flex; justify-content: center; align-items: center; color: black; transition: .5s;}
.footer-main-content .f-social a i{font-size: 20px;}
.footer-main-content .f-social a:hover {background-color: white !important;}
.footer-main-content ul {display: grid; gap: 15px; padding: 0px; margin: 0px; list-style: none;}
.footer-main-content a {color: white; font-size: 16px; transition: .5s; font-weight: 400;}
.f-copyright {border-top: 1px solid #fff; padding-top: 40px; margin-top: 50px;text-align: center;}
.f-copyrigh p {font-size: 16px;color: #fff; margin: 0;}

/* Home Page */
.home-banner {background-size: cover; background-repeat: no-repeat; height: 730px; padding-top: 110px; display: flex; align-items: center;}
.banner-content h1 {margin-bottom: 10px; color: white;}
.banner-content p {font-size: 18px; margin-bottom: 20px; color: #fff; line-height: 28px;}
.designBtn {display: inline-block; padding: 14px 30px; background-color: #ffffff; color: #000000; font-weight: 600; border-radius: 30px; transition: .5s; font-size: 16px; border: solid 2px white;}
.designBtn:hover {background-color: black; color: white; border: solid 2px white;}

/* About Section */
.home-about {background: #000; padding-top: 10px;}
.home-about .row{align-items: center;}
.home-about h2{margin-bottom: 20px;}
.home-about p{color: #fff; font-size: 18px; line-height: 28px; margin-bottom: 40px;}

/* Steps Section section */
.steps-wrapper {text-align: center; padding-top: 70px;}
.steps-wrapper h2 {margin-bottom: 40px; color: #000;}
.steps-wrapper .steps-row {justify-content: center; gap: 30px; margin-top: 80px;}
.steps-wrapper .step {background: #F5F5F5; width: 23% !important; padding: 20px 40px; border-radius: 20px; position: relative; text-align: center; transition: .5s;}
.steps-wrapper .step:hover {transform: translateY(-8px);}
.steps-wrapper .step-icon { margin-top: -70px;}
.steps-wrapper .step h3 {font-size: 20px;font-weight: 800;margin-bottom: 15px; color: #000; margin-top: 30px; }
.steps-wrapper .step p {font-size: 16px; color: #000; line-height: 28px;}

/* Trending Styles section */
.trending-wrapper {padding-top: 70px; text-align: center; background: #F5F5F5; margin-top: 70px; padding-bottom: 70px;}
.trending-wrapper h2 {color: #000; margin-bottom: 40px;}
.trending-wrapper .trending-swiper {padding: 0px 20px;}
.trending-wrapper .trending-card {text-align: center;}
.trending-wrapper .trending-card img{width: 100%; height: 380px; object-fit: cover;}
.trending-wrapper .trending-card h3 {font-size: 20px; font-weight: 600; margin-top: 20px; color: #000;}
.trending-wrapper .swiper-button-next, .trending-wrapper .swiper-button-prev {transition:.5s; background: #fff; border-radius: 50%; display: flex; align-items: center; justify-content: center; width: 55px; height: 55px;}
.trending-wrapper .swiper-button-next{right: 30px !important;}
.trending-wrapper .swiper-button-prev{left: 30px !important;}
.trending-wrapper .swiper-button-next svg, .trending-wrapper .swiper-button-prev svg {width: 20px !important; height: 20px !important; color: #000;}
.trending-wrapper .swiper-button-next:hover, .trending-wrapper .swiper-button-prev:hover{background: #000 !important;}
.trending-wrapper .swiper-button-next:hover svg, .trending-wrapper .swiper-button-prev:hover svg{color: #fff !important;}

/* Gallery section */
.gallery-wrapper {text-align: center; padding-top: 70px;}
.gallery-wrapper h2{color: #000; margin-bottom: 40px;}
.gallery-wrapper .synced-gallery {display: grid; grid-template-columns: repeat(3, 1fr); gap: 22px; padding: 0 20px; justify-content: center;}
.gallery-wrapper .synced-img-box{position: relative; transition: .5s; cursor: pointer;}
.gallery-wrapper .synced-img-box img {width: 100%; height: 360px; object-fit: cover; object-position: top;}
.gallery-wrapper .designBtn{background: #000; color: #fff; margin-top: 50px;}
.gallery-wrapper .designBtn:hover{border: 2px solid #000 !important; background: transparent !important; color: #000 !important;}
.gallery-wrapper .img-overlay {position: absolute; inset: 0; background: rgb(0 0 0 / 65%); opacity: 0; color: #fff; font-size: 50px; font-weight: 600; display: flex; align-items: center; justify-content: center; transition: .5s;}
.gallery-wrapper .synced-img-box:hover .img-overlay {opacity: 1;}
.gallery-modal {position: fixed; inset: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 88%); backdrop-filter: blur(10px); display: flex; justify-content: center; align-items: center; z-index: 9999;}

.gallery-modal .modal-content {position: relative;max-width: 90%; animation: fadeIn 0.35s ease;}
.gallery-modal .modal-image {width: 100%; max-height: 90vh; object-fit: contain;}
.gallery-modal .close-modal {position: absolute;top: -10px; right: 0px; transition: .5s; background: white; border: none; font-size: 20px; cursor: pointer; padding: 8px 14px; border-radius: 50%;}
.gallery-modal .close-modal:hover {background: #ddd;}

/* About Page */
.about-page footer{margin-top: 0px !important;}
/* Inner Banner section */
.inner-banner{background-size: cover; background-repeat: no-repeat; height: 730px; padding-top: 110px; display: flex; align-items: center;}
.inner-banner .row{justify-content: center;}

/* About Info section */
.about-info{padding-top: 70px;}
.about-info .row{align-items: center;}
.about-info .col-md-6:nth-child(2){padding-left: 40px;}
.about-info h2{color: #000; margin-bottom: 30px;}
.about-info p{color: #757575;}
.about-info a{background: #000; color: #fff; margin-top: 40px;}
.about-info a:hover{border-color: #000 !important; background: transparent; color: #000 !important;}

/* Why Choose Us Section */
.about-choose{margin-top: 70px; background: #F5F5F5;}
.about-choose .row{align-items: center;}
.about-choose h2{color: #000; margin-bottom: 20px;}
.about-choose p{color: #757575;}
.about-choose .col-md-6:nth-child(1){padding-left: 110px; padding-right: 40px;}
.about-choose .col-md-6:nth-child(2){padding-right: 0px;}
.about-choose .col-md-6:nth-child(2) img{width: 100%; height: 750px;}
.about-choose ul{display: flex; list-style: none; flex-wrap: wrap; padding: 0px; margin: 0px; gap: 40px; margin-top: 30px !important;}
.about-choose ul li{display: flex; gap: 20px; align-items: center;}
.about-choose ul li h4{font-size: 18px; font-weight: 600; color: #000; margin-bottom: 5px;}
.about-choose ul li p{color: #757575; font-size: 14px; margin-bottom: 0px;}

/* Contact Us Page */
.contact-page .inner-banner .col-md-9{width: 82% !important;}
.contact-page footer{margin-top: 0px !important;}

/* Contact Form Section */
.contact-wrapper {padding-top: 70px;}
.contact-wrapper h2{color: #000; margin-bottom: 15px;}
.contact-wrapper p {color: #000; max-width: 960px; margin: 0 auto 40px;}
.contact-wrapper .input-row {display: grid; grid-template-columns: repeat(4, 1fr); gap: 12px; margin-bottom: 18px;}
.contact-wrapper .input-row input {padding: 15px 20px; border-radius: 45px;border: none; outline: none; background:#F5F5F5; color: #757575; font-size: 14px;}
.contact-wrapper .input-row input::placeholder, .input-row textarea::placeholder {color: #757575; font-size: 14px;}
.contact-wrapper .contact-form textarea {width: 100%;height: 150px; padding: 15px 20px; border-radius: 18px; border: none; background: #F5F5F5; resize: none; font-size: 14px; outline: none; color: #757575;}
.contact-wrapper .designBtn{background: #000; color: #fff; margin-top: 40px; padding: 14px 40px !important;}
.contact-wrapper .designBtn:hover{border-color: #000 !important; background: transparent; color: #000 !important;}

/* Contact Info Section */
.contact-page .steps-wrapper{background: #F5F5F5; margin-top: 70px; padding-bottom: 70px;}
.contact-page .steps-wrapper h2{margin-bottom: 15px;}
.contact-page .steps-wrapper .info-content{color: #757575; max-width: 960px; margin: 0px auto; margin-bottom: 90px;}
.contact-page .steps-wrapper .step{background: #fff !important; width: 28% !important;}
.contact-page .steps-wrapper .step img{width: 90px !important;}
.contact-page .steps-wrapper .step a, .contact-page .steps-wrapper .step p{color: #757575;}
.contact-page .steps-wrapper .step a:hover{color: #000;}

/* Shop Page */
.shop-page header{position: relative; border-bottom: 1px solid #F0F0F0;}
.shop-page .shop-container{margin-top: 50px;}
.shop-page .filters-wrapper{padding-right: 50px;}
.shop-page .shop-container h3{color: #000; font-size: 32px; font-weight: 800; text-transform: uppercase;}
.shop-page .filter-tab {border-top: 1px solid #DBDBDB; margin-top: 20px; padding-top: 20px;}
.shop-page .filter-heading {cursor: pointer; display: flex; align-items: center; justify-content: space-between;}
.shop-page .filter-heading h4{color: #000; font-size: 18px; font-weight: 800; text-transform: uppercase; margin-bottom: 0px;}
.shop-page .arrow-icon {font-size: 18px; transition: .5s;}
.shop-page .arrow-icon.rotate {transform: rotate(180deg);}
.shop-page .filter-options {padding-top: 20px;}
.shop-page .filter-options label {margin-bottom: 10px; font-size: 16px; color: #000;font-weight: 500; display: flex; align-items: center; cursor: pointer;}
.shop-page .filter-options input[type="checkbox"] {display: none;}
.shop-page .filter-options input[type="checkbox"] + span {display: inline-block; width: 22px; height: 22px; border-radius: 50%; border: 2px solid transparent; margin-right: 10px; position: relative; background: #F5F5F5; transition: .5s;}
.shop-page .filter-options input[type="checkbox"]:checked + span::after {content: ""; position: absolute; top: 3px; left: 3px; width: 12px; height: 12px; background: #000; border-radius: 50%;}
.shop-page .color-filter-tab input[type="checkbox"]:checked + span::after{display: none;}
.shop-page .color-filter-tab input[type="checkbox"] + span {background: transparent !important;}
.shop-page .color-filter-tab input[type="checkbox"]:checked + span div{width: 20px; border-radius: 50%; height: 20px; position: absolute; top: -1px; left: -1px;}
.shop-page .products-grid {display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin-top: 20px;}
.shop-page .product-card img {width: 100%; height: 380px; object-fit: cover; border-radius: 0px;}
.shop-page .product-content{background: #F5F5F5; border-radius: 20px; margin-top: -40px; position: relative; text-align: center;}
.shop-page .product-card h5 {font-size: 18px; margin-bottom: 25px;font-weight: 500; color: #000; padding-top: 20px;}
.shop-page .product-price {position: relative;}
.shop-page .product-price .text{background: #000; color: #fff; display: inline-block; border-radius: 50px; position: absolute; font-size: 14px; padding: 2px 15px; font-weight: 500; top: -11px; left: 33.5%; right: auto;}
.shop-page .product-card .price {display: flex;}
.shop-page .product-card span {color: #000; width: 50%; border-top: 1px solid #DBDBDB; padding: 20px; font-size: 16px;font-weight: 600; padding-top: 30px;}
.shop-page .product-card span:nth-child(1){border-right: 1px solid #DBDBDB;}

/* Shop Detail Page */
.product-detail-page header{position: relative; border-bottom: 1px solid #F0F0F0;}
.product-detail-page footer{margin-top: 0px;}
.product-detail-page .product-detail-container{margin-top: 50px;}
.product-detail-page .main-image img {object-fit: cover; object-position: top; width: 100%; height: 610px;}
.product-detail-page .image-gallery {margin-top: 10px;}
.product-detail-page .image-gallery img {width: 100%; height: 100px; object-fit: cover;cursor: pointer;border: 2px solid transparent; transition: .5s;}
.product-detail-page .image-gallery img.active, .image-gallery img:hover {border-color: #000;}
.product-detail-page .product-title {font-size: 42px; font-weight: 800; line-height: 50px;text-transform: uppercase; color: #000000; border-bottom: 1px solid #DBDBDB; padding-bottom: 20px; margin-bottom: 30px;}
.product-detail-page .product-detail-container h5 {font-size: 18px; font-weight: 800; margin-bottom: 10px; text-transform: uppercase; color: #000;}
.product-detail-page .product-description p {color: #000; margin-bottom: 20px;}
.product-detail-page .product-size{display: flex; flex-direction: column; gap: 20px;}
.product-detail-page .sizes-dropdown{display: flex; gap: 20px;}
.product-detail-page .sizes-dropdown .custom-select-wrapper{width: 50%;}
.product-detail-page .product-size .sizes {position: relative;}
.product-detail-page .custom-select-wrapper{position: relative;}
.product-detail-page .custom-select { border: 2px solid #000; padding: 12px 14px; border-radius: 10px; cursor: pointer; display: flex; justify-content: space-between; align-items: center; background: #fff;}
.product-detail-page .custom-select span{color: #000; font-size: 16px; font-weight: 500; font-family: "Urbanist", sans-serif;}
.product-detail-page .custom-select.open {border-color: #000;}
.product-detail-page .custom-select i {font-size: 12px; color: #000;}
.product-detail-page .custom-select-dropdown {position: absolute; top: 110%; left: 0; width: 100%; background: #fff; border-radius: 8px; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); z-index: 10; padding: 0px; height: 130px; overflow-y: scroll;}
.product-detail-page .custom-select-dropdown li {padding: 13px 15px; cursor: pointer; list-style: none; transition: .5s; border-radius: 10px; color: #000; font-size: 16px; font-weight: 500; font-family: "Urbanist", sans-serif;}
.product-detail-page .custom-select-dropdown li:hover, .product-detail-page .custom-select-dropdown li.active { background: #000 !important; color: #fff;}
.product-detail-page .custom-select-dropdown::-webkit-scrollbar {width: 4px;}
.product-detail-page .custom-select-dropdown::-webkit-scrollbar-track { background: #fff; border-radius: 10px;}
.product-detail-page .custom-select-dropdown::-webkit-scrollbar-thumb { background: #000; border-radius: 10px;}
.product-detail-page .size-options{display: flex; gap: 10px; margin-bottom: 15px;}
.product-detail-page .size-options button {width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; border: 1px solid #000; border-radius: 50%; background: white; cursor: pointer; font-size: 18px; font-weight: 400; transition: .5s; text-transform: uppercase;}
.product-detail-page .size-options button.active, .size-options button:hover {background: #000; color: white;}
.product-detail-page .size-actions {display: flex; gap: 15px; margin-bottom: 30px; margin-top: 30px;}
.product-detail-page .size-chart-btn, .measurement-btn {padding: 10px 20px; border: none; background: #F5F5F5; cursor: pointer; font-size: 14px; text-transform: uppercase; border-radius: 50px; transition: .5s;}
.product-detail-page .size-chart-btn:hover, .measurement-btn:hover {background: #000; color: #fff !important; text-decoration: none !important;}
.product-detail-page .color-options {display: flex; gap: 20px; margin-bottom: 30px;}
.product-detail-page .color-option {display: flex;align-items: center; gap: 8px; cursor: pointer; border: 2px solid transparent; padding: 5px; border-radius: 50px; transition: .5s;}
.product-detail-page .color-option.active { border-color: #000;}
.product-detail-page .color-swatch {width: 22px; height: 22px; border-radius: 50%;}
.product-detail-page .color-name {font-size: 16px; color: #000;}
.product-detail-page .prices {display: flex; gap: 10px; margin-bottom: 30px;}
.product-detail-page .price-option {display: flex;align-items: center; gap: 8px; border: 1px solid #000000; color: #000; text-align: center; padding: 10px 20px; border-radius: 50px; cursor: pointer; transition: .5s;}
.product-detail-page .prices .price-option:hover, .product-detail-page .price-option.active{background: #000;}
.product-detail-page .price-option span{color: #000; font-size: 16px; font-weight: 400; transition: .5s;}
.product-detail-page .prices .price-option:hover span, .product-detail-page .price-option.active span{color: #fff !important;}
.product-detail-page .product-actions {display: flex; gap: 15px; margin-bottom: 30px; border-top: 1px solid #DBDBDB; padding-top: 30px; align-items: center; justify-content: space-between;}
.product-detail-page .product-actions button {padding: 10px 30px; color: #fff; border-radius: 50px; border: 2px solid transparent; cursor: pointer; font-size: 16px; background: #000; font-weight: 500; text-transform: uppercase; transition: .5s;}
.product-detail-page .product-actions button:hover{color: #000 !important; background: transparent !important; border-color: #000;}
.product-detail-page .product-description-tab {padding: 20px 30px; background: #F5F5F5; border-radius: 50px;}
.product-detail-page .tab-header {display: flex; justify-content: space-between; align-items: center; cursor: pointer;}
.product-detail-page .tab-header h4 {margin: 0px; font-size: 16px;font-weight: 500; text-transform: uppercase; color: #000;}
.product-detail-page .arrow-icon {transition: .5s;}
.product-detail-page .arrow-icon.rotate {transform: rotate(180deg);}
.product-detail-page .tab-content {max-height: 0; overflow: hidden; transition: .5s;}
.product-detail-page .tab-content.open {max-height: 200px;}
.product-detail-page .tab-content p {font-size: 14px; line-height: 1.6; color: #666; padding: 15px 0; margin: 0;}

/* Rent Modal */
.rent-modal-overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 83%); backdrop-filter: blur(10px); display: flex; align-items: center; justify-content: center; z-index: 9999;}
.rent-modal-overlay .rent-modal{width: 650px; background: #fff; border-radius: 20px; position: relative; padding: 30px; gap: 20px; animation: fadeIn 0.35s ease;}
.rent-modal-overlay .rent-modal h3 {font-size: 18px; font-weight: 800; margin-bottom: 10px; text-transform: uppercase; color: #000;}
.rent-modal-overlay .addon-heading{margin-top: 20px;}
.rent-modal-overlay .all-adons{display: flex; gap: 20px; margin-bottom: 10px;}
.rent-modal-overlay .addon{display: flex; flex-direction: column; width: 100%; gap: 20px;}
.rent-modal-overlay .rent-modal .price-option {padding: 14px 16px; border: 1px solid #ddd; border-radius: 10px;cursor: pointer; transition: .5s; justify-content: center;}
.rent-modal-overlay .rent-modal .price-option:hover {background: #f8f8f8; border-color: #000;}
.rent-modal-overlay .rent-modal .price-option.active {border-color: #000; background: #000; color: #fff;}
.rent-modal-overlay .rent-modal .price-label {font-size: 16px; font-weight: 600 !important;}
.rent-modal .price-option + .custom-select-wrapper { margin-top: -6px; margin-bottom: 14px;}
.rent-modal-overlay .rent-modal .custom-select-wrapper {animation: fadeSlide 0.25s ease;}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.rent-modal-overlay .agreement-checkbox{display: flex; gap: 10px; align-items: center; cursor: pointer;}
.rent-modal-overlay .agreement-checkbox label{margin-bottom: 0px !important;}
.rent-modal-overlay .button-row{display: flex; flex-direction: column; align-items: center; margin-top: 20px;}
.rent-modal-overlay .button-row .designBtn2{margin-top: 10px !important; width: 100%;}

/* Size Chart Modal */
.size-modal-overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 83%); backdrop-filter: blur(10px); display: flex; align-items: center; justify-content: center; z-index: 9999;}
.size-modal-overlay .size-modal-container {width: 1000px; background: #fff; border-radius: 20px; position: relative; display: flex; padding: 20px 30px 20px 20px; gap: 20px; animation: fadeIn 0.35s ease;}
.size-modal-overlay .modal-left img {width: 100%; height: 500px; border-radius: 20px; object-fit: cover;}
.size-modal-overlay h2{color: #000; font-size: 42px; line-height: 42px;}
.size-modal-overlay p {font-size: 16px; margin-bottom: 18px; color: #000; margin-top: 10px;}
.size-modal-overlay .size-table {width: 97%; text-align: left; border-top: 2px solid #808285; padding-top: 20px; margin-top: 20px;}
.size-modal-overlay .size-table table{width: 100%;}
.size-modal-overlay .size-table th {background: transparent; padding: 0px; text-align: center; font-family: "Urbanist", sans-serif; color: #808285; font-size: 25px; font-weight: 700; font-style: italic;}
.size-modal-overlay .size-table tr th:nth-child(1){background: #F5F5F5; color: #808285; font-size: 20px; font-weight: 400; }
.size-modal-overlay .size-table td {padding: 4px 25px; text-align: center; font-size: 20px; font-weight: 500;}
.size-modal-overlay .size-table td:nth-child(1){text-align: left; padding-left: 0px;}
.size-modal-overlay .modal-close-btn {position: absolute; top: 12px; right: 14px; background: #000; color: #fff; width: 40px; height: 40px; border-radius: 50%; font-size: 16px; font-weight: 900; cursor: pointer;}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}

/* cart page */
.cart-page header{position: relative; border-bottom: 1px solid #F0F0F0;}
.cart-page .cart-row{padding-top: 70px;}
.cart-page .cart-row .cart-left{padding-right: 100px;}
.cart-page .cart-header {display: flex; justify-content: space-between; border-bottom: 2px solid #000;}
.cart-page .cart-row h4{font-size: 20px; font-weight: 800; color: #000;}
.cart-page .cart-item {display: flex; justify-content: space-between;padding: 20px 0; border-bottom: 2px solid #000;}
.cart-page .item-left {display: flex; gap: 20px;}
.cart-page .item-left img {width: 80px; height: 100px; object-fit: cover; border-radius: 4px;}
.cart-page .item-left h3 {font-size: 20px; font-weight: 700; margin: 0; color: #000;}
.cart-page .item-left .item-price {font-weight: 700; color: #000; font-size: 14px; margin-bottom: 10px;}
.cart-page .item-left .item-desc {font-size: 14px; color: #757575; margin: 2px 0;}
.cart-page .qty-box {display: flex; align-items: center; margin: 12px 0; gap: 16px; justify-content: space-between; background: transparent; border: 2px solid #000; border-radius: 5px;}
.cart-page .qty-box button, .cart-page .qty-box span {border: none; background: transparent; transition: .5s; color: #000;font-size: 18px; border-radius: 4px; cursor: pointer; font-weight: 600; font-family: "Urbanist", sans-serif;}
.cart-page .qty-box button:nth-child(1){border-right: 2px solid #000; border-radius: 0px; padding: 3px 15px;}
.cart-page .qty-box button:nth-child(3){border-left: 2px solid #000; border-radius: 0px; padding: 3px 15px;}
.cart-page .qty-box button:hover{color: #fff !important; background: #000 !important;}
.cart-page .remove-item {margin-top: 8px; background: #000; border: 2px solid transparent; color: #fff; font-weight: 600; text-transform: capitalize; padding: 5px 10px; cursor: pointer; border-radius: 15px; font-size: 14px; transition: .5s;}
.cart-page .remove-item:hover{color: #000 !important; background: transparent !important; border-color: #000 !important;}
.cart-page .item-total {font-weight: 700; font-size: 18px;}
.cart-page .cart-total-title {border-bottom: 2px solid #000; padding-bottom: 8px; margin-bottom:0px ;}
.cart-page .cart-total-row span{font-size: 20px; font-weight: 700; color: #000;}
.cart-page .cart-total-row { display: flex;justify-content: space-between; padding: 20px 0; border-bottom: 2px solid #000;}
.cart-page .cart-row .designBtn2{width: 100%;}
.designBtn2 {margin-top: 20px; line-height: 20px; padding: 13px 30px; border: 2px solid transparent; background: #000; color: #fff; font-size: 16px; border-radius: 25px; cursor: pointer; font-weight: 600; transition: .5s;}
.designBtn2:hover{background: transparent !important; color: #000 !important; border-color:#000 !important;}

/* Cart Page */
.checkout-page header{position: relative; border-bottom: 1px solid #F0F0F0;}
.checkout-page .checkout-row{padding-top: 70px;}
.checkout-page .checkout-row .col-md-8{padding-right: 70px;}
.checkout-page .checkout-row h3{color: #000; font-size: 30px; font-weight: 800; text-transform: uppercase; line-height: 30px; margin-bottom: 15px;}
.checkout-page .checkout-row .contect-field{margin-bottom: 30px;}
.checkout-page .checkout-row .contect-field input{margin-bottom: 0px !important;}
.input {width: 100%; padding: 15px 20px; outline: none; border: none; background: #F5F5F5; border-radius: 10px; margin-bottom: 15px; font-size: 16px !important; font-family: "Urbanist", sans-serif !important;  color: #757575 !important;}
.input::placeholder{color: #757575 !important; font-size: 16px; font-family: "Urbanist", sans-serif; }
label{color: #000; font-size: 14px; font-weight: 500; margin-bottom: 5px; font-family: "Urbanist", sans-serif;}
.select-field{background: #F5F5F5; border-radius: 10px !important; padding: 0px 20px !important; border: none; width: 100%; margin-bottom: 15px;}
.select-field select{background: transparent; width: 100%; padding: 15px 0px; border: none; color: #757575; font-size: 16px; outline: none;}
.checkout-page .checkout-row span{color: #000;}
.checkout-page .row-fields {display: flex; gap: 15px;}
.checkout-page .field {width: 100%;}
.checkout-page .payment-error-box {display: flex; align-items: center; border: 2px solid #ff4444; background: #ffecec; padding: 12px; border-radius: 10px; margin-bottom: 20px; gap: 10px;}
.checkout-page .policy-text {font-size: 13px;color: #000; margin: 20px 0;}
.checkout-page .buttons{display: flex; justify-content: space-between; align-items: center;}
.checkout-page .buttons a{color: #000; font-size: 18px; font-weight: 600;}
.checkout-page .buttons .designBtn2{margin-top: 0px !important; padding: 20px 60px; font-size: 20px;}
.checkout-page .summary-box {border: 2px solid #000; padding: 20px 0px; border-radius: 10px;}
.checkout-page .summary-box h3{padding: 0px 20px; margin-bottom: 0px; border-bottom: 2px solid #000; padding-bottom: 20px; text-align: center;}
.checkout-page .summary-item {display: flex; align-items: flex-start; gap: 15px; padding: 15px 20px; border-bottom: 2px solid #000;}
.checkout-page .summary-item img {width: 60px; height: 70px; object-fit: cover; border-radius: 6px;}
.checkout-page .summary-info h4 {font-size: 20px; font-weight: 700; margin: 0; color: #000;}
.checkout-page .summary-info p {font-size: 14px; color: #757575; margin: 2px 0;}
.checkout-page .summary-info {width: auto !important; text-align: left !important;}
.checkout-page .summary-price {font-weight: 700; color: #000; font-size: 14px; margin-bottom: 10px;     width: 42%; text-align: end;}
.checkout-page .summary-row { display: flex; justify-content: space-between; padding: 15px 20px;}
.checkout-page .total {border-top: 2px solid #000; padding-bottom: 0px !important;}
.checkout-page .summary-row span{color: #000; font-size: 18px; font-weight: 600;}

/* Auth Pages */
.auth-page{background: #F5F5F5;}
.auth-page, .auth-page .auth-row{height: 100vh;}
.left-image-column {background-size: cover; background-repeat: no-repeat; background-position: top; position: relative; padding: 40px 50px;}
.left-image-column .image-text{height: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: start;}
.left-image-column .image-text h1 {font-size: 52px; font-weight: 600; line-height: 60px; margin: 0; text-transform: capitalize; width: 60%;}
.right-form-column {background: #F5F5F5; padding: 40px 60px; display: flex; justify-content: center; flex-direction: column;}
.right-form-column .box{background: #fff; border-radius: 20px; padding: 30px 40px; margin-top:50px;}
.right-form-column .box h2{color: #000; font-size: 32px; text-transform: capitalize; line-height: 40px; font-weight: 700; text-align: center; margin-bottom: 20px;}
.right-form-column .box p{color: #000; margin-bottom: 30px; text-align: center; font-size: 16px;}
.verify .box h2{margin-bottom: 10px;}
.right-form-column .logo{text-align: center;}
.right-form-column .box input{margin-top: 5px;}
.password-field{position: relative;}
.password-field .password-toggle{position: absolute; right: 30px; top: 47px; color: #000; font-size: 16px;}
.right-form-column .box .row{display: flex; justify-content: space-between;}
.right-form-column .box .row .checkbox {width: 50%; cursor: pointer; display: flex; align-items: center;}
.right-form-column .box .checkbox{width: 100%; cursor: pointer; display: flex; align-items: start;}
.login .box input{margin-top: 0px;}
.right-form-column .box .row .forget{width: 50%; text-align: end;}
.right-form-column .box .checkbox label{color: #000; font-size: 16px; cursor: pointer; font-weight: 500; margin-left: 10px; margin-bottom: 0px; line-height: 23px;}
.right-form-column .box .row a{color: #000; font-size: 16px; font-weight: 500;}
.right-form-column .box .designBtn2{width: 100%;}
.right-form-column .auth-link p{color: #000; font-size: 16px; font-weight: 400; text-align: center; margin-top: 50px;}
.right-form-column .auth-link p a{color: #000; font-weight: 600; font-size: 16px; transition: .5s;}
.right-form-column a:hover{color: #757575 !important;}
.right-form-column .input-group{display: flex; gap: 20px;}
.right-form-column .input-group .input-field{width: 48%;}
.right-form-column .input-field{display: flex; flex-direction: column;}
.right-form-column .input{margin-bottom: 0px !important;}
.right-form-column .input-field small{margin-top: 5px; margin-bottom: 10px;}

/* Main Page */
.main-page header{position: relative; border-bottom: 1px solid #F0F0F0;}
.main-page footer{margin-top: 0px;}
.main-page .left-column{position: sticky; height: fit-content; top:0;}
.main-page .main-section{padding-top: 70px; background: #F5F5F5; padding-bottom: 70px;}
.main-page .sidebar-drawer{background: #fff; border-radius: 20px; padding:0px !important; margin: 0px;}
.main-page .sidebar-drawer li{list-style: none;}
.main-page .sidebar-drawer li a{padding: 30px; display: flex; align-items: center; border-bottom: 2px solid #F5F5F5; color: #757575; font-size: 16px; font-weight: 500; transition: .5s;}
.main-page .sidebar-drawer li a img{margin-right: 20px; transition: .5s;}
.main-page .sidebar-drawer li a:hover, .main-page .sidebar-drawer li a.active{color: #000;}
.main-page .sidebar-drawer li a:hover img, .main-page .sidebar-drawer li a.active img{filter: brightness(1%) !important;}

.main-page .right-column{padding-left: 30px;}
.main-page .right-column-content{background: #fff; border-radius: 20px; padding: 30px; text-align: end;}
.main-page .right-column-content h2{color: #000; font-size: 40px; text-transform: capitalize; font-weight: 600; line-height: 40px; border-bottom: 2px solid #EBEBEB; padding-bottom: 20px; text-align: start;}

/* My Account Page */
.profile-info{display: flex; gap: 40px; margin-top: 30px;}
.profile-info .profile-image {width: 20%; position: relative;}
.main-page .right-column input {border-radius: 80px !important;}
.placeholder-box{width: 140px; height: 140px; border: 2px dashed #ccc; border-radius: 8px; display: flex; align-items: center; justify-content: center; cursor: pointer; background-color: #f8f9fa;}
.placeholder-box svg{color: #000; font-size: 20px;}
.profile-info .profile-image img{width: 140px; height: 140px; border-radius: 8px; object-fit: cover; object-position: top;}
.image-edit-btn{position: absolute; transition: .5s; top: 5px; right: 5px; background: #000; border: none; border-radius: 8px; width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; cursor: pointer; padding: 8px;}
.image-edit-btn svg{color: #fff; transition: .5s;}
.image-edit-btn:hover{background: #fff !important;}
.image-edit-btn:hover svg{color: #000 !important;}
.profile-info .profile-form {width: 80%;}
.profile-info .profile-form .input-group{width: 50%; position: relative;}
.profile-info .profile-form .password-toggle{top: 43px;}
.profile-info .profile-form .input-group i{position: absolute; right: 30px; top: 43px;}
.my-account .designBtn2 {margin-top: 110px;}

/* Measurement Page */
.measurement-right .header-row{display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #EBEBEB; padding-bottom: 20px;}
.measurement-right .header-row h2{border: none; padding: 0px; margin: 0px;}
.measurement-right .header-row .designBtn2{margin-top: 0px;}
.buttons-row{display: flex; justify-content: space-between;}
.main-tabs{margin-top: 20px; background: #F5F5F5; border-radius: 80px; padding: 8px; display: flex; gap: 20px; width: 535px;}
.main-tabs button{color: #000; font-size: 16px; font-weight: 500; padding: 10px 40px; border: none !important; border-radius: 80px; background: transparent; transition: .5s;}
.main-tabs button.active, .main-tabs button:hover{background: #000 !important; color: #fff !important;}

.measurement-form{margin-top: 30px;}
.measurement-form h3{text-align: left; font-size: 25px; color: #000; margin-bottom: 30px; font-weight: 600;}
.measurement-form .input-group{width: 33.33%; margin-bottom: 20px; position: static;}

/* Event Look Page */
.events-tab{width: 722px !important;}
.look-grid{display: flex; gap: 20px; margin-top: 30px;}
.look-grid .look-card{width: 23%;}
.look-grid .look-card img{width: 100%; height: 280px; border-radius: 0px; object-fit: cover;}
.look-grid .look-card h4{color: #000; font-size: 18px; font-weight: 500; text-align: center; margin-top: 10px;}
.events-look {text-align: left !important;}
.events-look .designBtn2{margin-top: 50px;}

/* My Orders Page */
.my-orders .right-column-content {text-align: left !important;}
.my-orders .orders-list {margin-top: 30px;}
.my-orders .order-card {display: flex; align-items: center; background: #F5F5F5; border-radius: 20px; padding: 14px; margin-bottom: 15px;}
.my-orders .order-image{width: 12% !important;}
.my-orders .order-image img {width: 100%; height: 80px; border-radius: 10px; object-fit: cover; object-position: top;}
.my-orders .order-info{width: 40%; padding-left: 20px; text-align: left;}
.my-orders .order-info h4 {color: #000; margin: 0; font-size: 18px; font-weight: 600;}
.my-orders .order-info p, .my-orders .order-status span, .my-orders .order-price span {font-size: 12px; color: #757575; margin-top: 2px; margin-bottom: 0px; line-height: 20px;}
.my-orders .order-status {width: 15%; text-align: left;}
.my-orders .status.paid {color: #00a651; font-weight: 600; font-size: 14px; margin-bottom: 0px; line-height: 20px;}
.my-orders .order-price {text-align: left; width: 15%;}
.my-orders .order-price p{color: #000; font-weight: 600; font-size: 16px; margin-bottom: 0px; line-height: 20px;}
.my-orders .order-button{width: 18%; text-align: end;}
.my-orders .order-button .designBtn2{padding: 10px 18px !important; margin-top: 0px !important;}
.my-orders .right-column-content .designBtn2{margin-top: 70px;}

.assign-modal-wrapper {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgb(0 0 0 / 83%); backdrop-filter: blur(10px); display: flex; justify-content: center; align-items: center; z-index: 1000;}
.assign-modal-wrapper .assign-modal {width: 900px; background: #fff; border-radius: 20px; display: flex; padding: 25px;}
.assign-modal-wrapper .assign-modal .row{width: 100%;}
.assign-modal-wrapper .modal-left img {width: 100%;object-fit: cover; border-radius: 20px;}
.assign-modal-wrapper .modal-right h2 {margin: 0; font-size: 42px; font-weight: 600; color: #000; text-transform: capitalize;}
.assign-modal-wrapper .modal-right p {font-size: 18px; color: #000; margin-bottom: 20px; line-height: 30px; border-bottom: 2px solid #EBEBEB; padding-bottom: 20px; margin-bottom: 20px;}
.assign-modal-wrapper .modal-buttons{display: flex; justify-content: space-between; margin-top:74px;}
.assign-modal-wrapper .modal-buttons .designBtn2{margin-top: 0px !important;}
.assign-modal-wrapper .select-field{border-radius: 80px;}
.assign-modal-wrapper label{font-size: 16px; font-weight: 600;}

/* Support Page */
.support p{color: #000; text-align: left; margin-top: 30px; margin-bottom: 10px;}
.textarea-input {width: 100%; height: 180px; padding: 15px; background: #f4f4f4; border: none; border-radius: 20px; font-size: 16px; resize: none; outline: none; color: #757575;}
.support .buttons-row{margin-top: 80px;}
.privacy-policy p{color: #000; text-align: left;}
.privacy-text{margin-top: 30px;}

/* Logout Modal */
.logout-modal{width: 400px !important; text-align: center;}
.logout-modal img{width: 160px; margin-bottom: 30px;}
.logout-modal h2{color: #000; font-size: 35px; font-weight: 700; text-transform: capitalize;}
.logout-modal p{color: #000; font-size: 18px;}
.logout-modal .designBtn2{width: 100%;}

/* Events Page */
.tabs-design .events-tabs{display: flex; align-items: center; justify-content: space-between; border-bottom: 2px solid #EBEBEB; padding-bottom: 20px;}
.tabs-design .events-tabs button{color: #E4E4E4; border: none !important; background: transparent !important; font-size: 32px; font-weight: 600; line-height: 40px;  padding-right: 30px;}
.tabs-design .events-tabs button.active{color: #000 !important;}
/* No Events Component CSS */
.noevents-tab-body{display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 60px;}
.noevents-tab-body .event-icon{background: #F5F5F5; border-radius: 50%; width: 100px; height: 100px; display: flex;align-items: center; justify-content: center; margin-bottom: 30px;}
.noevents-tab-body .noevents-title{color: #000; font-size: 28px; font-weight: 600;}
.noevents-tab-body .noevents-dis{color: #000; font-size: 18px; line-height: 30px; width: 60%; text-align: center;}
.noevents-tab-body .designBtn2{margin-bottom: 50px;}
.invited-events .designBtn2{display: none;}
.invited-events .noevents-dis{margin-bottom: 50px;}

/* Show Events Component Css */
/* .my-events .event-name-tabs {margin-top: 30px; margin-bottom: 20px; display: flex; justify-content: left; align-items: center; gap: 20px;}
.my-events .event-name-tabs button{border: 2px solid #000000; border-radius: 80px; transition: .5s; background: transparent; padding: 8px 20px; font-size: 16px; font-weight: 500; color: #000;}
.my-events .event-name-tabs button:hover, .my-events .event-name-tabs button.active{background: #000 !important; color: #fff !important;}
.show-events .event-card{background: #F5F5F5; padding: 20px; border-radius: 20px;}
.show-events .event-header {display: flex; align-items: center; border-bottom: 2px solid #EBEBEB; padding-bottom: 20px; margin-bottom: 20px;}
.show-events .event-header .event-image{text-align: left; padding-right: 0px !important; width: 12% !important;}
.show-events .event-header .event-image img {width: 66px; height: 66px; object-fit: cover; object-position: top; border-radius: 10px;}
.show-events .event-header .event-name-address{padding-left: 0px !important; width: 37% !important; padding-right: 20px;}
.show-events .event-header .event-name-address h3{color: #000; font-size: 18px; font-weight: 600; line-height: 18px; margin-bottom: 5px; text-align: left;}
.show-events .event-header .event-name-address p{margin: 0px; color: #757575; font-size: 12px; line-height: 20px; text-align: left;}
.show-events .event-header .event-date h6{color: #000; font-size: 16px; font-weight: 600; line-height: 18px; margin-bottom: 5px; text-align: left;}
.show-events .event-header .event-date p{margin: 0px; color: #757575; font-size: 12px; line-height: 20px; text-align: left;}
.show-events .event-details{display: flex;}
.show-events .event-members{text-align: left; padding-right: 30px;}
.show-events .event-members .members-header{display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;}
.show-events .event-members .members-header h4{font-size: 18px; color: #000; font-weight: 600; line-height: 18px; margin: 0px;}
.show-events .event-members .members-header a{font-size: 12px; border-bottom: 1px solid #000; color: #000; margin: 0px;}
.show-events .event-members .member-row{background: #fff !important;}
.show-events .event-members .member-row .member-center{margin-left: 10px !important;}
.show-events .event-look{background: #fff; border-radius: 20px; padding: 20px; text-align: left;}
.show-events .event-look h4{color: #000; font-size: 18px; font-weight: 600; margin-bottom: 20px;}
.show-events .event-look .look-items {display: flex; gap: 10px;}
.show-events .event-look .look-item img {width: 100%;height: 180px; object-fit: cover; object-position: top;}
.show-events .event-look .look-item p{font-size: 14px; font-weight: 600; color: #000; margin-bottom: 0px; text-align: center;}*/
.add-more-events-btn{border: 2px dashed #757575; color: #757575; font-size: 16px; font-weight: 500; padding: 10px 30px; border-radius: 50px; background: transparent; transition: .5s;}
.add-more-events-btn:hover{background: #000; border-color: transparent; color: #fff;} 

.invited-events{margin-top: 40px;}
.invited-events .row .col-md-4{margin-bottom: 20px;}
.invited-events .invited-event-card {background: #F5F5F5; cursor: pointer; border-radius: 15px; text-align: left; position: relative;}
.invited-events .invited-event-card img{width: 100%; height: 160px; object-fit: cover; object-position: top; border-radius: 15px;}
.invited-events .event-content{padding: 20px;}
.invited-events .invited-event-card h3{color: #000; font-size: 16px; font-weight: 600; margin-bottom: 5px;}
.invited-events .invited-event-card p{font-size: 12px; color: #757575; line-height: 18px; margin-bottom: 0px;}
.event-date{margin-top: 5px;}
.invited-events .invited-event-card span{color: #000; font-size: 14px; font-weight: 600;}
.invited-events .event-icons {display: flex; align-items: center; justify-content: end; gap: 10px; flex-direction: column; position: absolute; top: 10px; right: 10px;}
.invited-events .event-icons button{background: #fff; transition: .5s; width: 35px; height: 35px; border-radius: 10px; display: flex; align-items: center; justify-content: center; color: #000; border: none;}
.invited-events .event-icons button:hover{background: #000; color: #fff;}
.invited-events .event-icons button i{font-size: 15px;}

.accept-invite .rent-modal{width: 450px; text-align: center;}
.accept-invite .rent-modal h3{color: #000; font-size: 30px; text-transform: uppercase; margin-bottom: 5px !important;}
.accept-invite .rent-modal p{color: #000;}
.accept-invite .rent-modal .modal-actions{display: flex; justify-content: center; gap: 20px;}

/* Creat Event Page */
.create-event .input-group{width: 50%; position: relative;}
.create-event .create-event-form{margin-top: 30px;}
.create-event .select-field{border-radius: 80px !important;}
.create-event .text-field{text-align: left !important;}
.create-event .placeholder-box{width: 100% !important; height: 150px !important; margin-top: 15px;}
.create-event .image-container img{width: 100%; height: 150px; object-fit: cover; border-radius: 8px; margin-top: 15px;}
.create-event .profile-image .image-edit-btn{top: 20px; right: 10px; background: #fff !important;}
.create-event .profile-image .image-edit-btn svg{color: #000 !important;}
.create-event .input-group i {position: absolute; right: 30px; top: 43px;}
.create-event .select-field select{margin-bottom: 0px !important;}
.create-event .text-danger{margin-top: -12px; font-size: 14px; margin-bottom: 10px;}
.create-event form .row{align-items: baseline;}
.create-event .profile-image .text-danger{margin-top: 0px !important;}
.create-event-form .text-field .text-danger{margin-top: -4px !important;}

.shiping-modal .rent-modal{text-align: center; position: relative;}
.shiping-modal h3{color: #000; font-size: 35px !important; text-transform: uppercase; text-align: center;}
.shiping-modal p{color: #000; text-align: center; margin-bottom: 30px !important;}
.shiping-modal img{height: 200px;}
.shiping-modal form{width: 70%; margin: 0px auto;}
.shiping-modal button{width: 100%; margin-top: 0px !important; border-radius: 10px !important;}
.shiping-modal .close-btn{position: absolute; top:-10px; right: -10px; background: #fff !important; border-radius: 50% !important; border: 2px solid #000; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; color: #000;}
.designBtn2.disabled {opacity: 0.6; cursor: not-allowed; background-color: #000;}

/* Add Event Members */
.add-member .add-member-container{margin-top: 30px;}
.add-member .add-member-form{border-radius: 20px; border: 2px solid #F5F5F5; padding: 0px; padding-bottom: 20px !important;}
.add-member .add-member-form h3{background: #F5F5F5; color: #000; border-radius: 17px 17px 0px 0px; padding: 15px; margin: 0px; font-size: 18px; font-weight: 600; text-align: center;}
.add-member .add-member-form .upload-photo-box{display: flex; justify-content: center; margin-top: 20px; flex-direction: column; align-items: center; gap: 20px;}
.add-member .add-member-form .image-edit-btn{top: 59px; right: 0px; background: #fff !important; border: 2px solid #000; border-radius: 50%;}
.add-member .add-member-form .image-edit-btn svg{color: #000 !important;}
.add-member .add-member-form .member-preview { width: 80px; height: 80px;border-radius: 50%; object-position: top; object-fit: cover;}
.add-member .add-member-form .field{text-align: left;}
.add-member .add-member-form .select-field{border-radius: 80px !important;}
.add-member .designBtn2{margin-top: 0px !important; width: 100% !important;}
.add-member .buttons-row .designBtn2{width: auto !important;}
.add-member .add-member-form .member-form-fields{padding: 0px 20px;}
.add-member .member-box {border-radius: 15px; padding: 20px; border: 2px solid #F5F5F5; height: 85%;} 
.add-member .member-box .empty-box {display: flex; margin: auto 0px; height: 100%; flex-direction: column; align-items: center; justify-content: center;}
.add-member .camera-box {width: 70px; height: 70px; background: #F5F5F5; border-radius: 50%; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.add-member .camera-box svg{width: 30px; height: 30px;}
.add-member .camera-box input {display: none;}
.add-member .member-box .empty-box h3{color: #000; font-size: 32px; font-weight: 600; text-align: center; margin-top: 20px; margin-bottom: 15px;}
.add-member .member-box .empty-box p{color: #000; text-align: center; margin-bottom: 40px;}
.add-member .text-danger{margin-top: -12px; font-size: 14px; margin-bottom: 10px;}

/* Add New Members  */
.add-new-member .buttons-row{margin-top: 140px !important;}
.add-new-member .select-field{border-radius: 80px !important;}
.add-new-member .select-field select{margin-bottom: 0px !important;}
.add-new-member .text-danger{margin-top: -12px; font-size: 14px; margin-bottom: 10px;}
.add-new-member .row{align-items: baseline;}

.members-list {text-align: left;}
.members-list h3 {color: #000; border-bottom: 2px solid #F5F5F5; padding-bottom: 20px; margin-bottom: 20px; font-size: 25px;}
.add-member .members-wrapper {display: flex; flex-direction: column; gap: 12px;}
.member-row {background: #f5f5f5; padding: 5px 20px 5px 10px; border-radius: 80px; display: flex; align-items: center;}
.member-row img {width: 48px; height: 48px; border-radius: 50%; object-fit: cover; object-position: top;}
.member-row .member-center{margin-left: 20px;}
.member-row .member-center h4{color: #000; font-size: 14px; font-weight: 600; margin-bottom: 5px;}
.member-row .member-center p{color: #757575; font-size: 12px; line-height: 12px; margin-bottom: 0px;}
.member-row .member-right{margin-left: auto; position: relative;}
.member-row .member-right i{color: #757575; transition: .5s;}
.member-row .member-right button:hover i{color: #000 !important;}
.member-row .member-right button{border: none; background: transparent; transition: .5s;}
.member-row .member-right .dropdown-menu{display: block; position: absolute; right: 0px; background: #000; padding: 0px; text-align: center;}
.member-row .member-right .remove-btn{color: #fff; font-size: 12px; text-align: center; padding: 5px 20px;}
.add-member .member-lists .buttons-row{margin-top: 20px;}

/* Event Detail Page */
.event-details-container .event-banner {height: 460px; background-size: cover; background-position: center; padding: 0px 120px; width: 100%; position: relative;}
.event-details-container .event-banner .invited-name{position: absolute; bottom: -30px; background: #33333380; display: flex; align-items: center; border-radius: 100px; padding: 12px 40px 12px 15px; gap: 10px; backdrop-filter: blur(6px); box-shadow: -1px 0px 3px 4px #0000001A;}
.event-details-container .event-banner .invited-name img{width: 40px; height: 40px; border-radius: 50%; object-fit: cover; object-position: top;}
.event-details-container .event-banner .invited-name {color: #fff; font-size: 14px; font-weight: 400;}
.event-details-container .event-banner .invited-name h4{color: #fff; font-size: 16px; font-weight: 600; margin: 0px; line-height: 16px;}
.event-details-container .event-info{padding: 20px 0px; border-bottom: 2px solid #DBDBDB; align-items: center; margin-top: 30px;}
.event-details-container .event-info h2 {color: #000; font-size: 42px; margin-bottom: 0px; line-height: 45px;}
.event-details-container .event-info h4, .event-details-container .event-description h4 {color: #000; font-size: 18px; line-height: 20px; font-weight: 800; margin-bottom: 5px; text-transform: uppercase;}
.event-details-container .event-info p{color: #000; font-size: 16px; margin-bottom: 0px;}
.event-details-container .event-description {margin-top: 40px; margin-bottom: 40px;}
.event-details-container .event-description p{font-size: 16px; font-weight: 500; color: #000; margin-top: 10px; margin-bottom: 0px;}

.event-details-container .detail{margin-bottom: 70px;}
.event-details-container .event-members{background: #F5F5F5; border-radius: 20px; padding: 20px;}
.event-details-container .event-members h3{color: #000; font-size: 24px; font-weight: 800; text-transform: uppercase; border-bottom: 2px solid #DBDBDB; padding-bottom: 10px;}
.event-details-container .event-members .member-row{display: flex; background: #E3E3E3; border-radius: 80px; padding: 0px; margin-top: 20px;}
.event-details-container .event-members .member-info{background: #fff; border-radius: 80px; padding: 8px; display: flex; align-items: center; gap: 10px; padding-right: 20px; width: 34%;}
.event-details-container .event-members .member-center{margin-left: 0px;}
.event-details-container .event-members .progress-bar {display: flex; align-items: center; justify-content: space-between; position: relative; flex-direction: row; width: 66%; padding: 8px 20px;}
.event-details-container .event-members .progress-step {display: flex; align-items: center; justify-content: center; flex-direction: column;}
.event-details-container .event-members .progress-bar:before {content: ""; height: 2px;background-color: #fff; position: absolute; left: 50px; top: 64%; width: 72%;}
.event-details-container .event-members .progress-step span {font-size: 12px; color: #757575; margin-bottom: 5px;}
.event-details-container .event-members .step-circle {width: 25px; height: 25px; border-radius: 50%; background: white; display: flex; justify-content: center; align-items: center; transition: .5s; position: relative; border: 4px solid #fff !important;}
.event-details-container .event-members .step-circle i{font-size: 10px;}
.event-details-container .event-members .step-circle.completed {background: #009A33; color: white;}
.event-details-container .event-members .progress-step .pending i {display: none !important;}

.event-details-container .event-look {padding-left: 30px;}
.event-details-container .event-look h3{color: #000; font-size: 24px; font-weight: 800; text-transform: uppercase; margin-bottom: 20px;}
.event-details-container .look-items{display: flex; gap: 10px; flex-wrap: wrap;}
.event-details-container .look-items img{width: 100%; height: 200px; object-fit: cover; object-position: top;}
.event-details-container .look-items p{color: #000; text-align: center; margin-top: 10px; margin-bottom: 0px;}

.delete-event-modal .rent-modal{width: 400px !important; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 30px 70px !important;}
.delete-event-modal .delete-icon{width: 80px; height: 80px; display: flex; align-items: center; justify-content: center; background: #f6f8fa; border-radius: 50%;}
.delete-event-modal .delete-icon i{font-size: 30px !important; color: #000;}
.delete-event-modal p{color: #000; margin-bottom: 0px; text-align: center;}
.delete-event-modal .modal-actions{display: flex; gap: 20px;}